doctype html
html(lang='ja')
  head
    title= title
    script(type='text/javascript', src='//code.jquery.com/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
